.drawer-cicle{
    height:90px;
    width:90px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    caret-color: transparent;
    transition: all 0.5s ease;
    z-index: 1000;
    position: fixed;
     bottom:40px;  /* Changed from top to bottom */
    right: 1px;
    background-color: white;
    transform-origin: bottom right;  /* Add this line */
}
.drawer-cicle button{
    border:none;
    background-color: white;
}
.button-panel{
    height: 75%;
    overflow-y:auto;
    scrollbar-width: none;
}
.open{
    height:530px;
    width:270px;
    border-radius: 10px !important;
    display: block;;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white !important;
    right: 2px;
}
.drawer-header{
    height:20%;
    width: 100% !important;
    display: flex;
    align-items: center !important;

    border-top: 1px solid gray;
}
.drawer-header-txt-block{
    width: 80%;
    margin-left: 10px;
}
.drawer-subtxt{
    color: grey;
}
.drawer-close{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.drawer-panel{
    display: flex;
    justify-content: start;
    align-items: center;
    height:60px;
    margin-top: 10px !important;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: whitesmoke;
}
.drawer-panel:hover{
    background: linear-gradient(90deg, #3b76f6,#7b2ff7);
    color: white;
}
.drawer-close:hover{
    background-color: aliceblue;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-weight: 800 !important;
}
.drawer-icon{
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 10px;

}