@media (max-width: 600px) {
  .Alertbox-heading span.h3 {
    font-size: 20px;
  }
  .alertBox button {
    margin-right: 8px !important;
    padding: 6px 14px;
  }
}

@media (max-width: 480px) {
  .Alertbox-heading span.h3 {
    font-size: 18px;
  }
  .alertBox {
    padding-right: 10px !important;
  }
  .alertBox button {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 10px !important;
  }
  .alertBox div > button + button {
    margin-top: 0;
  }
}