.box-loader{
    position: fixed;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    height:200px;
    width:200px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.2);
    background-color:white;
    z-index: 100;
    
}
.blur-background{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top:0;
    left:0;
    backdrop-filter: blur(6px);
    z-index: 50;
      background: rgba(0,0,0,0.2); /* REQUIRED */
    
}
.loader-message{
    font-size: 20px;
    position: absolute;
    top:30px
}
.loader-message{
    color: green;
    
}