.response-page-body {
    background-color: aliceblue !important;
    overflow-y: hidden;
}

.section-header {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.small-txt {
    color: grey;
}

.status-panel {
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
}

.status-value {
    font-size: 27px;
    font-weight: bold;
}

.status-bar {
    width: calc(50vw - 80px);
    height: 15vh;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 30px !important;
    margin-right: 30px !important;
    border-radius: 15px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}


.Goal-panel {
    width: calc(100vw - 160px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin-left: 80px !important;
    margin-right: 80px !important;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
}

.circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.Goal-number {
    color: blue;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Goal-Buttons {
    width: 50%;
}

.Goal-Buttons button {
    width: 100% !important;
    height: 50px;
}

.Goal-header-conatiner {
    display: flex;

}

.Goal-header-conatiner {
    font-size: 18px;
    font-weight: 600;
}

.reject {
    background-color: rgba(255, 0, 0, 0.2);
    border-radius: 10px;
    border-color: rgba(255, 0, 0, 0.2);
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reject:hover{
    background-color: red;
    color: white;
}

.success {
    background-color: rgba(0, 255, 26, 0.2);
    border-radius: 10px;
    border-color: rgba(0, 255, 26, 0.2);
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}
.success:hover{
    background-color: green;
    color: white;
}
.submited{
    background-color: green !important;
    color: white;
    height: 50px;
    padding: 20px;
    border-radius: 10px;
}
.d-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.d-horizontal {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}

.submit-btn {
    height: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: whitesmoke;
}



.alert-txt {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:480px){
    .section-header{
        height: 15vh !important;
    }
    .status-panel {
        display: flex;
        justify-content: center;
        height: 35vh;
    }
    .status-bar {
    width: calc(45vw - 10px);
    height: 15vh;
    margin-left: 10px !important;
    margin-right: 10px !important;
    justify-content: start;
    padding-top:20px;
    }
    .small-txt{
      justify-content: start; 
    }
    .status-value{
        height: 100%;
        display: flex;
        justify-content: center !important;
        align-items: center;
    }
    .coustom-width{
      width: calc(100vw - 20px) !important;  
    }
    .mobile-width{
        width: 90vw !important;
    }
    .Goal-panel{
        width: 90vw;  
    }
    .section-header{
        margin-bottom: 20px;
    }
}