.mc-container-cirbar{
    height: 180px;
    width: 180px;
}
.mc-circbar{
    height: 100%;
    text-anchor: middle;
    dominant-baseline: middle;
    transition: all 1s ease;
}
@media (max-width: 768px) {
  .mc-container-cirbar {
    height: 150px;
    width: 150px;
  }
}

@media (max-width: 480px) {
  .mc-container-cirbar {
    height: 130px;
    width: 130px;
  }
}

@media (max-width: 360px) {
  .mc-container-cirbar {
    height: 110px;
    width: 110px;
  }
}